body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #fff;
}
img {
    display: block;
    max-width: 100% ;
    height: auto;
}
p, h1,h2,h3,h4 {
    margin-top: 0;
    margin-bottom: 0;
    
}
.container {
    width: 100%;
    /* max-width: 1158px;    */
    padding: 0 16px 0 16px;   
    margin: 0 auto; 
}
section {
    padding-top: 96px;
    padding-bottom: 96px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.header {
border-bottom: 1px solid #E7E9FC;
position: sticky;
top: 0;
background-color: #fff;
z-index: 999;
box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08); ;

}
.header-container {
    height: 56px;
    display: flex;
    padding: 0 16px 0 16px;
    align-items: center;
    justify-content: space-between;
}

.link {
    text-decoration: none;
}
.header-nav {
    display: flex;
    color: #2E2F42;
    flex-grow: 1;
justify-content: space-between;
align-items: center;

}
.header-nav-list {
    display: none; 
    gap: 40px;
    }

.header-nav-link::after {
    position: absolute;
    content: "";
    width: 48px;
    height: 4px;
    border-radius: 2px;
    background-color:#404BBF;
bottom: -1px;
left: 0;
}

.header-link {
color: inherit;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
padding: 24px 0;
display: block;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link:hover,
.header-link:focus {
    color: #404BBF;
}
.header-nav-link {
    position: relative;
    color: #404BBF;
}
.logo {
font-family: 'Raleway', sans-serif;
color: #4D5AE5;
font-size: 18px;
font-weight: 700;
line-height: 1.17; 
letter-spacing: 0.03em;
text-transform: uppercase;
text-decoration: none;
}
.logo-head {
    margin-right: 76px;
}
.logo-hstud {
    color: #2E2F42;
}
ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;    
}
.address {
    display: none;
    text-decoration: none;
    color: #434455;
    font-style: normal;
}
.address-list {
display: flex;
gap: 40px;

}
.address-link {
    color: inherit;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link:hover,
.address-link:focus {
    color: #404BBF;
}
.header-btn-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    cursor: pointer;
    border: none;
}
.mob-menu {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    padding: 72px 16px 40px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-menu-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.menu-btn-close{
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    background-color: #E7E9FC;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-btn-close:hover,
.menu-btn-close:focus {
background-color: #404BBF;
border:none;
}
.menu-btn-icon {
    position: absolute;
    width: 8px;
    height: 8px;
    fill: #2E2F42;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-btn-close:hover .menu-btn-icon,
.menu-btn-close:focus .menu-btn-icon {
    fill: #fff;
}
.mob-menu-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: auto;
}

.mob-menu-link {
    color:#2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11; 
    letter-spacing: 0.02em;
    text-transform: capitalize;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-menu-link:hover,
.mob-menu-link:focus {
    color: #404BBF;
}
.mob-menu-nav-link {
    color: #404bbf;
}
.mob-address {
    margin-bottom: 48px; 
    font-style: normal;
}
.mob-address-list {
font-size: 20px;
font-weight: 500;
line-height: 1.2; 
letter-spacing: 0.05em;
display: flex;
flex-direction: column;
gap: 24px;
color: #434455;

}
.mob-address-link {
    color: inherit;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-address-link:hover,
.mob-address-link:focus {
    color: #4D5AE5;
}
.mob-soc-list {
    display: flex;
    gap: 40px;
    align-items: flex-start;
}
.mob-soc-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);  
}
.mob-soc-link:hover,
.mob-soc-link:focus {
background-color: #31D0AA;
}
.mob-soc-icon {
    fill: #F4F4FD;
}
.title {
    max-width: 1440px;
    padding: 72px 0;
    color: #FFF;
    text-align: center;
    background:rgba(46, 47, 66, 0.70);
background-size: cover;
background-repeat: no-repeat;
background-position: 50% 50%;
background-image: linear-gradient(
    to bottom,
    rgba(46, 47, 66, 0.70),
    rgba(46, 47, 66, 0.70)
), url(../images/title-mob.jpg);
margin: 0 auto;
}  
@media (min-device-pixel-ration: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .title {
        background-image: linear-gradient(
    to bottom,
    rgba(46, 47, 66, 0.70),
    rgba(46, 47, 66, 0.70)
), url(../images/title-mobx.jpg);
    }
} 

.title-head { 
    max-width: 200px;  
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin: 0 auto;
    margin-bottom: 72px;
}
.title-button {
    color: #FFF;
    text-align: center;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    background-color: #4D5AE5;
    border-radius: 4px;
    display: block;
    min-width: 169px;
    padding: 16px 32px;
margin: 0 auto;
border: none;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title-button:hover,
.title-button:focus {
background-color: #404BBF;
}

.features-list {
display: flex;
flex-wrap: wrap;
gap: 72px;
}
.features-wrap {
    display: none;
align-items: center;
justify-content: center;
height: 112px;
border-radius: 4px;
border: 1px solid #8E8F99;
background: #F4F4FD;
margin-bottom: 8px;
}
.features-icon {
    width: 64px;
    height: 64px;
}
.features-items {
/* width: 100%; */
}
.features-title {
color: #2E2F42;
font-size: 36px;
font-weight: 700;
line-height: 1.11; 
letter-spacing: 0.02em;
margin-bottom: 8px;
text-align: center;
}
.features-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 500;
}
.team {
    background-color: #F4F4FD;
}

.team-title {
color: #2E2F42;
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
margin-bottom: 72px;
}
.team-list {
    display: flex;
    gap: 72px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.team-list-item {
border-radius: 0px 0px 4px 4px;
background-color: #FFF;
box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
/* margin: 0 auto; */
}
.card-content {
padding: 32px 0;
}
.team-list-head {
    text-align: center;
color: #2E2F42;
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
margin-bottom: 8px;
}
.team-list-text {
text-align: center;
line-height: 1.5;
letter-spacing: 0.02em;
margin-bottom: 8px;
}
.team-social {
    display: flex;
    gap: 24px;
align-items: center;
justify-content: center;
}
.team-social-item {
    width: 40px;
    height: 40px;
}
.team-soc-link {
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
width: 100%;
height: 100%;
display: flex;
align-items: center;
justify-content: center;
border-radius: 50%;
background-color: #4D5AE5;
}

.team-soc-link:hover,
.team-soc-link:focus {
    background-color: #404BBF;
}
.team-soc-icon {
    fill: #f4f4fd;
}
.portfolio-title {
color: #2E2F42;
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.11; 
letter-spacing: 0.02em;
margin-bottom: 72px;
}
.portfolio-list {
    display: flex;
    row-gap: 48px;
    flex-wrap: wrap;
}
.portfolio-list-item {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-item:hover,
.portfolio-list-item:focus {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-list-item:hover .portfolio-cover {
    transform: translateY(0);
}

.portfolio-wrap {
    position: relative;
    overflow: hidden;
}
.portfolio-cover {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    background-color: #4D5AE5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color:  #F4F4FD;
    font-size: 16px;
line-height: 1.5; 
letter-spacing: 0.02em;
}

.portfolio-card {
padding: 32px 16px;
    width: 100%;
    border-left: 1px solid #E7E9FC;
    border-bottom: 1px solid #E7E9FC;
    border-right: 1px solid #E7E9FC;
}
.portfolio-list-head {
color: #2E2F42;
font-size: 20px;
font-weight: 500;
line-height: 1.2; 
letter-spacing: 0.02em;
margin-bottom: 8px;
}
.portfolio-list-text {
line-height: 1.5; 
letter-spacing: 0.02em;
}
.footer {
background-color: #2E2F42;
padding: 96px;
}
.logo-foot {
    display: block;
    margin: 0 auto;
    margin-bottom: 16px;
    text-align: center;
}
.logo-fstud {
    color: #f4f4fd;
}
.footer-text {
    width: 264px;
    color: #F4F4FD;
    line-height: 1.5; 
    letter-spacing: 0.02em;
}
.footer-container {
    display: block;
align-items: baseline;
position: relative;
}
.footer-container-left {
    margin-bottom: 72px;
}
.footer-social {
    margin-bottom: 72px;
}
.footer-social-text {
    color:#FFF;
font-weight: 500;
line-height: 1.5; 
letter-spacing: 0.02em;
    margin-bottom: 16px;
    text-align: center;
}
.footer-social-link {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
}
.footer-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;  
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);  
}
.footer-wrap:hover,
.footer-wrap:focus {
background-color: #31D0AA;
}
.footer-icon {
    width: 24px;
    height: 24px;
    fill: #F4F4FD ;
}




.footer-modal-wrap {
    
}
.footer-modal {
    display: block;
    align-items: end;
    
}
.footer-modal-text {
    color :#FFF;
    font-weight: 500;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    text-align: center;
}

.footer-input {
    background-color: transparent;
    width: 100%; 
height: 40px;
flex-shrink: 0;
border-radius: 4px;
border: 1px solid #FFF;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
padding-left: 16px;
color: #fff;
font-size: 12px;
line-height: 1.5;
letter-spacing: 0.04em;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
margin-bottom: 16px;
}
.footer-input::placeholder {
    
    color:#FFF;

}

.footer-button {
    color: #FFF;
text-align: center;
font-weight: 500;
line-height: 1.5 ; 
letter-spacing: 0.04em;
display: flex;
padding: 8px 24px;
justify-content: center;
align-items: center;
border-radius: 4px;
background:#4D5AE5;
min-width: 165px;
height: 40px;
border: none;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
cursor: pointer;
margin: 0 auto;
}
.footer-button-icon {
    fill: #FFF;
    margin-left: 16px;
}
.footer-button:hover,
.footer-button:focus {
background-color: #404BBF;
}

/* 250ms cubic-bezier(0.4, 0, 0.2, 1) */

/* ------------MODAL---------- */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.40);
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.modal {
width: 288px;
min-height: 623px;
flex-shrink: 0;
border-radius: 4px;
background-color: #FCFCFC;
position: absolute;
top: 50%;
left: 50%;
transform:translate(-50%, -50%);
padding: 72px 16px 24px 16px;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2); 
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-exit {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    padding: 0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
background-color: #E7E9FC;
margin-left: 336px;
margin-bottom: 24px;
border: 1px solid rgba(0, 0, 0, 0.1);
cursor: pointer;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-exit:hover,
.modal-exit:focus {
background-color: #404BBF;
border:none;
}
.modal-icon-exit {
    position: absolute;
    width: 8px;
    height: 8px;
    fill: #2E2F42;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-exit:hover .modal-icon-exit,
.modal-exit:focus .modal-icon-exit {
    fill: #fff;
}

.modal-text {
    color: #2E2F42;
text-align: center;
font-weight: 500;
line-height: 1.5; 
letter-spacing: 0.02em;
margin-bottom: 16px;
}
.modal-form {
    /* width: 100%;
    height: 100%; */
}
.modal-field {
    margin-bottom: 8px;
}
.modal-label {
    display: block;
    color: #8E8F99;
font-size: 12px;
line-height: 1.17; 
letter-spacing: 0.04em;
margin-bottom: 4px;
}
.input-wrap {
    position: relative;
}
.modal-input {
    background-color: transparent;
width: 100%;
height: 40px;
border-radius: 4px;
border: 1px solid rgba(46, 47, 66, 0.40);
padding-left: 38px;
outline: transparent;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:hover,
.modal-input:focus {
    border-color: #4D5AE5;
}
.modal-input:hover + .modal-icon,
.modal-input:focus + .modal-icon {
    fill: #4D5AE5;
}
.modal-icon {
    fill: #2E2F42;
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-field-text {
    margin-bottom: 16px;
}
.modal-textarea {
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    border-radius: 4px;
border: 1px solid rgba(46, 47, 66, 0.40);
resize: none;
outline: transparent ;
background-color: transparent;
font-size: 12px;
line-height: 1.17; 
letter-spacing: 0.04em;
color: rgba(46, 47, 66, 0.40);
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* .modal-textarea::placeholder {
    color: rgba(46, 47, 66, 0.40);
font-size: 12px;
line-height: 1.17; 
letter-spacing: 0.04em;
} */
.modal-textarea:hover,
.modal-textarea:focus {
    border-color: #4D5AE5;    
}
.modal-checkbox {
    margin-bottom: 24px;
    width: 256px;
}
.check-box {
    width: 16px;
    height: 16px;
    display: inline-flex;
    align-items: center; 
    justify-content: center;
    border: 1px solid rgba(46, 47, 66, 0.40);
margin-right: 8px;
border-radius: 2px;
fill: transparent;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.check-text {
color: #8E8F99;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
align-items: center;
display: flex;
}
.check-text-wrap {
    width: 231px;
}

.modal-link {
color: #4D5AE5;
font-size: 12px;
line-height: 1.33;
letter-spacing: 0.04em;
}

.modal-check:checked + .check-text > .check-box{
background-color: #404BBF;
border: none;
fill: #F4F4FD;
}
.modal-btn {
    display: block;
padding: 16px 32px;
border-radius: 4px;
background: #4D5AE5;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
border: none;
min-width: 169px; 
height: 56px;
color: #FFF;
text-align: center;
font-weight: 500;
line-height: 1.5; 
letter-spacing: 0.04em;
margin: 0 auto;
cursor: pointer;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus {
background-color: #404BBF;
}
/* ---------------MEDIA-------------- */

@media screen and (min-width: 320px) {
    .container{
        max-width: 320px;
    }
    
}

/* -----------------iPAD------------------ */

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
    .header {
        width: 768px;
        margin: 0 auto;
    }
    .header-container {
        height: 72px;
    }
    .header-nav {
        flex-grow: 0;
    }
    .header-nav-list {
        display: flex;
    }
    .address {
        display: block;
        margin-left: auto;
    }
    .address-list {
        display: block;
        gap: 12px;
    }
    .header-btn-menu {
        display: none;
    }
    .title {
        background-image: linear-gradient(
    to bottom,
    rgba(46, 47, 66, 0.70),
    rgba(46, 47, 66, 0.70)
), url(../images/title-pad.jpg);
    }
    @media (min-device-pixel-ration: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .title {
        padding: 112px 0;
        background-image: linear-gradient(
    to bottom,
    rgba(46, 47, 66, 0.70),
    rgba(46, 47, 66, 0.70)
), url(../images/title-padx.jpg);
    }
} 
    .title-head {
        max-width: 496px;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        margin-bottom: 36px;
    }
    .features-list {
        gap: 72px 24px;
    }
    .features-title {
        text-align:start;
    }
    .features-items {
        max-width: calc((100% - 24px) / 2 );
    }
    .team-list {
        gap: 64px 24px;
    }
    .team-list-item {
        max-width: calc((100% - 24px) / 2);
    }
    .portfolio-list {
        gap: 72px 24px;
    }
    .portfolio-list-item {
        max-width: calc((100% - 24px) / 2);
    }
    .footer {
    }
    .footer-container {
        display: flex;
        flex-wrap: wrap;
        gap: 72px 24px;
        
    }
    .footer-container-left{
        margin-bottom: 0;
    }   
    .logo-foot {
        text-align: start;
    }
    .footer-social {
        margin-bottom: 0;
    }
    .footer-social-text {
        text-align: start;
    }
    .footer-modal-wrap {
        max-width: 100%;
    }
    .footer-modal {
        display: flex;
        gap: 24px;
        align-items:baseline;
    }
    .footer-modal-text {
        text-align: start;
    }
    .footer-input {
        width: 264px;
        height: 40px;
    }
    .modal {
        width: 408px;
        height: 584px;
        padding-left: 23px;
        padding-right: 25px;
    }
    .modal-checkbox {
        width: 360px;
    }
    .check-text-wrap {
        width: 100%;
    }

}

/* -------------------DESKTOP------------- */

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px 0 15px;
    }
    .header {
        width: 1440px;
    }
    .header-container {
        gap: 332px;
    }
    .header-nav {
        flex-grow: 1;
    }   
    .address-list {
        display: flex;  
    }
    .title {
        padding: 188px 0;
        background-image: linear-gradient(
    to bottom,
    rgba(46, 47, 66, 0.70),
    rgba(46, 47, 66, 0.70)
), url(../images/peopleoffice1.jpg  );
    }
    @media (min-device-pixel-ration: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .title {
        background-image: linear-gradient(
    to bottom,
    rgba(46, 47, 66, 0.70),
    rgba(46, 47, 66, 0.70)), url(../images/people-office1x.jpg);
    }
    }
    .title-head {
        margin-bottom: 48px;
    }
    .section {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .features-wrap {
        display: flex;
    }   
    .features-title {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
    }
    .features-list {
        gap: 24px;
        flex-wrap: nowrap;
    }
    .features-items {
        width: 100%;
    }
    .features-text {
        font-weight: 400;
    }
    .portfolio-list {
        gap: 48px 24px;
    }
    .portfolio-list-item {
        max-width: calc((100% - 48px) / 3);
    }
    .footer {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .footer-container {
        gap: 0;
        flex-wrap: nowrap;
    }
    .footer-social {
        margin-left: 120px;
        margin-right: 90px;
    }
    
}